<a href="https://colab.research.google.com/github/plaban1981/POCs/blob/main/Extract_tabular_data_from_PDF_document_using_Camelot_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Camelot 

* Camelot is an open-source Python library, that enables developers to extract all tables from the PDF document and convert it to Pandas Dataframe format. The extracted table can also be exported in a structured form as CSV, JSON, Excel, or other formats, and can be used for modeling.

* Camelot only works with text-based PDFs and not scanned documents. (As Tabula explains, "If you can click and drag to select text in your table in a PDF viewer, then your PDF is text-based".)


* For large files, the camelot library tends to outperform tabula-py. However, sometimes you'll encounter a NotImplementedError for some PDFs using the camelot library, you can use tabula-py as an alternative.

In [1]:
pip install "camelot-py[cv]"

Collecting camelot-py[cv]
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 28 kB/s
Collecting pdfminer.six>=20200726
  Downloading pdfminer.six-20201018-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 57.7 MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.19.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.1.5)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.8.9)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (2.5.9)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.4)
Collecting PyPDF2>=1.26.0
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     |████████████████████████████████| 77 kB 6.2 MB/s
Collecting pdftopng>=0.2.3
  Downloading pdftopng-0.2.3-cp37-cp37m-manylinux2010_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 31.1 MB/s
Collecting ghostscript>=0.7
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (4.1.2.30)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from ghostscript>=0.7->camelot-py[cv]) (57.4.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.4.0)
Collecting cryptography
  Downloading cryptography-3.4.8-cp36-abi3-manylinux_2_24_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 35.2 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->camelot-py[cv]) (1.15.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.14.6)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six>=20200726->camelot-py[cv]) (2.20)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61101 sha256=9a52f4af99f8da97a30398ebeaf0e329ac19f5beb86dfafeb46d6d1f2daddc40
  Stored in directory: /root/.cache/pip/wheels/80/1a/24/648467ade3a77ed20f35cfd2badd32134e96dd25ca811e64b3
Successfully built PyPDF2
Installing collected packages: cryptography, PyPDF2, pdfminer.six, pdftopng, ghostscript, camelot-py
Successfully installed PyPDF2-1.26.0 camelot-py-0.10.1 cryptography-3.4.8 ghostscript-0.7 pdfminer.six-20201018 pdftopng-0.2.3

## Import Drive

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [18]:
import camelot

In [10]:
tables2=camelot.read_pdf('/content/drive/MyDrive/ZeoanAI_Poc/4Q19-Press-Release.pdf', flavor='stream', pages='0-4')
tables2

In [19]:
tables2[0]

## Parsing report:

In [21]:
for i in range(tables2.n):
    print(tables2[i].parsing_report)

{'accuracy': 98.29, 'whitespace': 15.56, 'order': 1, 'page': 0}
{'accuracy': 97.97, 'whitespace': 31.25, 'order': 1, 'page': 1}
{'accuracy': 96.87, 'whitespace': 21.21, 'order': 1, 'page': 2}
{'accuracy': 97.91, 'whitespace': 28.57, 'order': 1, 'page': 3}
{'accuracy': 97.55, 'whitespace': 32.65, 'order': 1, 'page': 4}

## The number of rows & the number of columns associated with each table extracted

In [22]:
for i in range(tables2.n):
    print(tables2[i])

<Table shape=(15, 3)>
<Table shape=(16, 7)>
<Table shape=(11, 3)>
<Table shape=(8, 7)>
<Table shape=(7, 7)>

## Export the table to a dataframe

In [15]:
df0=tables2[0].df
df0

                                                    0  ...                      2
0   (loss)/earnings from operations, operating mar...  ...
1   for additional information on the use of these...  ...
2        (Dollars in millions, except per share data)  ...         Full Year 2018
3                                                      ...  $ millions\nPer Share
4                                            Revenues  ...                101,127
5              (Loss)/earnings from operations (GAAP)  ...                 11,987
6                             Operating margin (GAAP)  ...                  11.9%
7                    FAS/CAS service cost adjustment:  ...
8             Pension FAS/CAS service cost adjustment  ...                (1,005)
9      Postretirement FAS/CAS service cost adjustment  ...                  (322)
10                    FAS/CAS service cost adjustment  ...                (1,327)
11          Core operating (loss)/earnings (non-GAAP)  ...                $10,660
12                   Core operating margin (non-GAAP)  ...                  10.5%
13           Diluted (loss)/earnings per share (GAAP)  ...                 $17.85
14            Pension FAS/CAS service cost adjustment  ...       ($1,005)\n(1.71)

[15 rows x 3 columns]

In [26]:
temp_df = tables2[0].df 
temp_df = temp_df.rename(columns=temp_df.iloc[2]).drop(temp_df.iloc[:2])

In [27]:
temp_df

      (Dollars in millions, except per share data)  ...         Full Year 2018
3                                                   ...  $ millions\nPer Share
4                                         Revenues  ...                101,127
5           (Loss)/earnings from operations (GAAP)  ...                 11,987
6                          Operating margin (GAAP)  ...                  11.9%
7                 FAS/CAS service cost adjustment:  ...
8          Pension FAS/CAS service cost adjustment  ...                (1,005)
9   Postretirement FAS/CAS service cost adjustment  ...                  (322)
10                 FAS/CAS service cost adjustment  ...                (1,327)
11       Core operating (loss)/earnings (non-GAAP)  ...                $10,660
12                Core operating margin (non-GAAP)  ...                  10.5%
13        Diluted (loss)/earnings per share (GAAP)  ...                 $17.85
14         Pension FAS/CAS service cost adjustment  ...       ($1,005)\n(1.71)

[12 rows x 3 columns]

## Export the tables  to a .csv file

In [29]:
temp_df.to_csv('table1.csv')

In [14]:
df1=tables2[1].df
df1

                                                    0  ...       6
0                         Table 1.  Summary Financial  ...
1                                                      ...
2                                             Results  ...
3        (Dollars in Millions, except per share data)  ...  Change
4                                            Revenues  ...   (24)%
5                                                GAAP  ...
6                     (Loss)/Earnings From Operations  ...      NM
7                                    Operating Margin  ...      NM
8                                 Net (Loss)/Earnings  ...      NM
9                           (Loss)/Earnings Per Share  ...      NM
10                                Operating Cash Flow  ...      NM
11                                          Non-GAAP*  ...
12                     Core Operating (Loss)/Earnings  ...      NM
13                              Core Operating Margin  ...      NM
14                     Core (Loss)/Earnings Per Share  ...      NM
15  *Non-GAAP measure; complete definitions of Boe...  ...

[16 rows x 7 columns]

In [13]:
df2=tables2[2].df
df2

                                                    0      1            2
0                                       of dividends.
1   Table 3. Cash, Marketable Securities and Debt ...         Quarter-End
2                                          (Billions)  Q4 19        Q3 19
3                                                Cash   $9.5         $9.8
4                              Marketable Securities1   $0.5         $1.1
5                                               Total  $10.0        $10.9
6                                      Debt Balances:
7   The Boeing Company, net of intercompany loans ...  $25.3        $22.8
8        Boeing Capital, including intercompany loans   $2.0         $1.9
9                             Total Consolidated Debt  $27.3        $24.7
10  1 Marketable securities consists primarily of ...

In [16]:
df3=tables2[3].df
df3

                                 0               1  ...        5       6
0                  Segment Results                  ...
1             Commercial Airplanes                  ...
2    Table 4. Commercial Airplanes  Fourth Quarter  ...
3            (Dollars in Millions)            2019  ...     2018  Change
4  Commercial Airplanes Deliveries              79  ...      806   (53)%
5                         Revenues          $7,462  ...  $57,499   (44)%
6  (Loss)/Earnings from Operations        ($2,844)  ...   $7,830      NM
7                 Operating Margin         (38.1)%  ...    13.6%      NM

[8 rows x 7 columns]

In [17]:
df4=tables2[4].df
df4

                           0               1  ...        5        6
0  Defense, Space & Security                  ...
1  Table 5. Defense, Space &                  ...
2                   Security  Fourth Quarter  ...
3      (Dollars in Millions)            2019  ...     2018   Change
4                   Revenues          $5,962  ...  $26,392     (1%)
5   Earnings from Operations             $31  ...   $1,657      57%
6           Operating Margin            0.5%  ...     6.3%  3.6 Pts

[7 rows x 7 columns]

## Referrences:
* https://www.thepythoncode.com/article/extract-pdf-tables-in-python-camelot

* https://www.thepythoncode.com/article/optical-character-recognition-pytesseract-python

* https://www.thepythoncode.com/article/extract-text-from-images-or-scanned-pdf-python